#https://pipenv-fork.readthedocs.io/en/latest/advanced.html
[[source]]
url = "https://pypi.org/project/maryam/"
verify_ssl = true
name = "pypi"

[packages]
requests
cloudscraper
bs4
lxml
flask
[dev-packages]

[requires]
python_version = "3.8"
deps =
    lxml
    flask
    requests
    bs4
    cloudscraper
  
commands = pipenv install --deploy
#This will fail a build if the Pipfile.lock is out–of–date/ re-generating
commands =pipenv check
## sec/qa vulns list
