[[source]]
url = "https://pypi.org/project/maryam/"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]

[requires]
python_version = "3.8"
deps =
    lxml
    flask
    requests
    bs4
    cloudscraper
commands =flake8
commands =isort . --project maryam --check-only --diff
commands =black . --check
