:root {
  background-color: rgb(253, 253, 253);
  font-family: Helvetica, sans-serif;

  --bg-color: white;
  --a-color: rgb(5, 55, 204);
}
#dark {
  --bg-color:black;
  --a-color:#70a6f7;
}
body {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  background-color: var(--bg-color);
}

#root {
  height: 100%;
  width: 100%;
  min-height: 100vh;
}
.App {
  background-color: var(--bg-color);
  display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
width: 100%;
height: 100%;
min-height: 100vh;
}

/* :root #dark {
  background-color: #676464;
} */


/* body #dark {
  background-color: black;
} */

/*                 LOADER              */
.loader-container {
  height: 6.25em;
  width: 6.25em;
  position: fixed;
  display: flex;
  justify-content: center;
  top: 50%;
  left: 47%;
}
.loading-text-container {
  margin-top: 4em;
  position: fixed;
  /* top: 58%; */
  left: 48.5%;
}
.loading-text {
  background-color: #fff;
  font-style: italic;
  color: #676464;
}
/*               HOME SCREEN CSS                */

/* #dark .App {
  background-color: #676464;
} */
/* .homesearch-parent {
  height: 100%;
  width: 100%;
} */
.homesearch {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 28px 61px;
  gap: 15px;
}

.input-wrap {
  border-radius: 24px;
  display: flex;
  background-color: #f6f5f5d6;
  box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
}

.homesearch input {
  background-color: #f6f5f5d6;
  width: 100%;
  height: 3em;
  border: 0;
  border-radius: 50px;
  padding: 0 20px;
  font-size: 0.9em;
}
.homesearch input:focus {
  outline: none;
}

.home-search-button {
  margin-right: 10px;
  padding: 0px;
  /* margin-right: 10px; */
  border-radius: 100px;
  background-color: #f6f5f5d6;
  border: none !important;
}

.logo {
  height: 7em;
  padding: 0.5em;
  display: block;
  margin-bottom: 1em;
  width: 24em;
  /* width: 450px; */
  background-image: url("/owasp.png");
  background-size: cover;
  background-repeat: no-repeat;
  text-indent: -9999px;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #c1c4c3aa);
}

/*                 NAV BAR WITH SEARCH CSS                */

.small-logo {
  position: relative;
  padding: 10px;
}
#dark .small-logo img {
  filter : invert(100%);
}
.small-logo img {
  position: relative;
  width: auto;
  height: 55px;
  margin-left: 3.125em;
  margin-top: 1em;
}
/* #dark {
  background-color: #080808;
} */
#dark .Navbarsearch-parent {
  border-bottom: 1px solid #393737; ;
}
.Navbarsearch-parent {
  border-bottom: 1px solid #ccc;
  display: flex;
  flex-direction: row;
  gap: 10px;
  /* background-color: #ffffff; */
}
#dark .Navbarsearch {
  background-color: #303134;
}
.Navbarsearch {
  background-color: #ffffff;
  margin-left: 5.9em;
  border-radius: 24px;
  height: 2.5em;
  position: relative;
  top: 1.3em;
  right: 4.375em;
  justify-content: center;
  padding-top: 0.4em;
  border: 1px #ccc;
  box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
}
.Navbarsearch:hover {
  background-color: #fff;
  box-shadow: 0 2px 8px 1px rgb(64 60 67 / 24%);
  border-color: rgba(223, 225, 229, 0);
}
#dark .Navbarsearch input {
  background-color: #303134;
}
.Navbarsearch input {
  font-size: small;
  font-style: italic;
  background-color: rgb(255, 255, 255);
  /* margin-top: 0.3em; */
  margin-left: 1em;
  width: 87%;
  outline: none;
  border: 1px white;
  padding: 0.1875em 0.5em;
}
.form-small {
  display: flex;
}
#dark .nav-button {
  filter: invert(80%);
}
.nav-button {
  background-color: rgb(255, 255, 255);
  border: none !important;
  border-radius: 50%;
  margin-right: 0.625em;
  margin-top: 0.1em;
}
/* BOSS PAGE CSS */
.result-container {
  font-family: Helvetica, sans-serif;
  margin-top: 2em;
  margin-left: 2.5em;
  max-width: 1000px;
}

a {
  text-decoration: none;
  color: var(--a-color);
}
a:hover {
  text-decoration: underline;
}
.link {
  font-size: large;
}
#dark .info {
  color:rgba(255, 255, 255, 0.827);
}
.info {
  font-size: medium;
  font-weight: 500;
}
#dark .route {
  color:#ccc;
}
.route {
  margin-bottom: .5em;
  color: #676464;
  font-size: small;
}
.results {
  margin-bottom: 50px;
}

/* BOTTOM COMPONENT  */
#dark .page-number-text {
  color:#8d8c8c;
}
.page-number-text {
  color: #676464;
  font-weight: 200;
  font-size: small;
  font-style: italic;
}
#dark .back-button {
  filter: invert(100%);
}
.back-button {
  height: 40px;
  width: 50px;
  background-color: rgb(255, 255, 255);
  border: none !important;
}

#dark .next-button {
  filter: invert(100%);
}
.next-button {
  height: 40px;
  width: 50px;
  background-color: rgb(255, 255, 255);
  border: none !important;
}
