.searchPage {
  background-color: #202124;
  height: 100%;
  max-width: 100%;
  min-width: 114em;
}

.searchPage_header {
  display: flex;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid lightgrey;
  align-items: center;
  position: relative;
  transition: all 0.3s ease;

}

.title {
  margin-bottom: 50px;
  margin-top: 10px;
  transition: all 0.3s ease;
}

.title img {
  margin-top: 15px;
  width: 250px;
  height: auto;
  width: 192px;
  transition: all 0.3s ease;
}

.searchBox {
  width: 650px;
  margin-top: -70px;
  transition: all 0.3s ease;
}

.searchPage_optionLeft {
  margin-top: -60px;
  padding-top: 20px;
}

.searchPage_headerBody {
  display: flex;
  position: sticky;
  top: 0;
  margin-top: 10px;
  margin-left: 35px;
  z-index: 100;
  align-items: flex-start;
  flex-direction: column;
}

.searchPage_headerBody>.search>.search_input {
  margin-top: 0px;
  width: 600px;
  margin: unset;
  max-width: unset;
}

.searchPage_option {
  display: flex;
  align-items: center;
  color: gray;
  margin-top: 30px;
  margin-right: 20px;

}

.searchPage_optionRight {
  display: flex;
  position: absolute;
  left: 90em;
  padding-top: 60px;
  margin-top: -40px;
  right: -10px;
  transform: translateX(55px);
  margin-right: 0%;
}

.searchPage_option a,
.searchPage_optionRight a {
  text-decoration: none;
  color: gray;
}

.searchPage_optionLeft,
.searchPage_optionRight {
  display: flex;
}

.searchPage_optionRightSetting,
.searchPage_optionRightSetting {
  padding-right: 15px;
}

.searchPage_option a {
  margin-left: 4px;
}

.searchPage.scrolled .searchPage_header {
  position: fixed;
  top: -10px;
  margin-top: 10px;
  width: 100%;
  background-color: #303134;
  height: 70px;
  z-index: 6;
}

.searchPage.scrolled .title {
  margin-top: 32px;
}

.searchPage.scrolled .searchBox {
  margin-top: -54px;
}

.searchPage.scrolled .searchPage_optionRight {
  margin-top: -16px;
  transform: translateY(-50%);
  right: 0;
  margin-left: 55px;
}

.searchPage_optionLeft {
  margin-top: 50px;
  margin-left: -650px;
}

.hidden {
  display: none;
}

.searchPage_option:first-child.selected {
  border-bottom: 2px solid lightblue;
  width: 120%;
  color: lightblue;
}


.searchPage_option:nth-child(2).selected {
  border-bottom: 2px solid lightcoral;
  color: lightcoral;

}

.searchPage_option:first-child.selected>a {
  color: white;
}

.searchPage_option:nth-child(2).selected>a {
  color: white;
}


.searchPage_option:first-child:hover {
  transition: color 0.7s ease;
  border-bottom: 2px solid lightblue;
  transition: transform 0.7s ease;
  transform: scale(1.01);
  color: lightblue;
}

.searchPage_option:nth-child(2):hover {
  transition: color 0.7s ease;
  transition: transform 0.7s ease;
  transform: scale(1.01);
  border-bottom: 2px solid lightcoral;
  color: lightcoral;
}

.searchPage_option:first-child a:hover {
  color: white;
}

.searchPage_option:nth-child(2) a:hover {
  color: white;
}

.searchPage_result {
  margin: 40px 0;
}

.searchPage_results {
  max-width: 850px;
  margin-top: 20px;
  margin-left: 150px;
  margin-bottom: 100px;
}

.searchPage_resultTitle {
  text-decoration: none;
}

.searchPage_resultTitle:hover {
  text-decoration: underline;
  color: lightblue;
}

.searchPage_resultTitle>h2 {
  font-weight: 500;
  color: lightblue;
}

.searchPage_resultSnippet {
  margin-top: 10px;
  /* color: rgba(255, 255, 255, 0.363); */
  color: #bdc1c6;
}

.searchPage_resultLink {
  text-decoration: none;
  color: white;
}

.footer {
  border-top: 1px solid lightgrey;
  display: flex;
  padding: 20px;
  z-index: 100;
  color: gray;
}

.footer.loading {
  position: fixed;
  top: 70px;
  left: 0;
  right: 0;
}

.footerAbout {
  margin-left: 20px;
}

.footerAbout:hover {
  transition: color 1s ease;
  color: white;
  text-decoration: underline;
}

.footerServices:hover {
  transition: color 1s ease;
  color: white;
  text-decoration: underline;
}