
.voiceModal {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  position: absolute;
  top: 350px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.voiceSearch {
  width: 500px;
  height: 300px;
  background-color: #f8eeec;
}

.voiceSearchBox{
  border-bottom: 2px solid #dee2e6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  font-size: 20px;
}



.voiceModal .voiceSearch {
  height: 300px;
}

.voiceModalMic {
  margin-left: 220px;
  margin-top: 70px;
  padding-top: 15px;
  text-align: center;
  border: 1px solid;
  width: 75px;
  height: 60px;
  border-radius: 150px;
  z-index: 1;
  background-color: rgba(255, 0, 0, 0.775);
  color: white;
}

.voiceModal .voiceModalMic::before {
  margin-left: -27px;
  margin-top: -21px;
  position: absolute;
  content: "";
  height: 90px;
  width: 90px;
  background: rgba(0, 0, 0, 0.5);
  animation: animateIcon 1s forwards infinite;
  z-index: 0;
  border-radius: 50%;
}

@keyframes animateIcon {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1.1);
  }
}
