.container{  	
	width: 100%;
	display: block;
	justify-content: center;
}
.content{
	padding: 1em;
	position: relative;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

nav{
	display: flex;
	position: relative;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.table{
	width: 100%;
	border: 1px solid grey;
	background-color: #f5f5f5;
}

.thead-dark{
	text-align: left;
	border: 1px solid grey;
}

.table__cell{
	border: 1px solid grey;
}

.table__data{
	border: 1px solid grey;
}

.output{
	flex-wrap: wrap;
	display: inline-flex;
  	width: 100%;
  	overflow: hidden;
  	height: 40px;
}
ul{
	flex-wrap: wrap;
	list-style: none;
	display: inline-flex;
  	margin: 10px;
}

li {
  display: inline-block;
  /* inline block hack for IE 6&7 */
  zoom: 1;
  *display: inline;
  padding: 4px;
  text-decoration: underline;
  color: blue;
}