:root {
    --primary: #050525;
    --secondary: #4b5058;
    --tertiary: #5c97ff;
    --serpLink: #1a0dab;
    --visited: #6d00a3;
    --border: #0505061f;
    --bg: white;
    --header: #5c97ff;
    --inputBg: #f5f5f5;
    --buttonTxt : #0051e0;
}